@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: AppleGothic, Helvetica, sans-serif;
}

.subtle-title {
  @apply text-xl serif tracking-widest lowercase opacity-50;
}

.card-btn {
  @apply w-16 h-16 flex items-center justify-center bg-ivory/50 rounded-xl shadow-md text-3xl transition-transform active:scale-95;
}

.cloud {
  mix-blend-mode: screen;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 1));
}

.serif {
  font-family: "Merriweather", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
